*{
    box-sizing: border-box;
    margin: 0;
}

.form {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
}

.form >input,div,select,button{
    width: 200px;
    margin-top: 15px;
}

/* .radio_container:first-child{
    display: grid;
    grid-template-columns: 25px 175px;
} */

.language_container{
    margin-top: 0;
    display: grid;
    grid-template-columns: 200px;
    align-items: center;
}

.language_container>label{
    margin-top: 15px;
}

.table {
    position: fixed;
    top: 0;
    left: 44%;
}

td{
    width: 100px;
}

.display{
    display: none;
}

